# ── Supabase ──────────────────────────────────────────────────────────────────
SUPABASE_URL=https://baibggmxuczcyoqslglw.supabase.co
SUPABASE_SERVICE_ROLE_KEY=PEGAR_AQUI

# ── Facebook ──────────────────────────────────────────────────────────────────
FACEBOOK_EMAIL=PEGAR_AQUI
FACEBOOK_PASSWORD=PEGAR_AQUI
